@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

.refs {
  display: block;
  text-align: center;
  color: white;
}

.camoufle {
  margin: 1em;
  text-align: center;
}

.imgFlag {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
}

.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.competen {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
  margin-left: 10%;
  height: auto;
}