@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

.refs {
  display: block;
  text-align: center;
}

.camoufle {
  margin: 1em;
  text-align: center;
}

.imgFlag {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
}

.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
