@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

$myFont: 'ibm';

%Button {
  border-radius: 28px;
  padding: 5px 2px 5px 2px;
}

.ul {
  list-style: none;
  margin-top: 14px;
  margin-right: 45px;
}

.li {
  display: inline-block;
}

.navBar {
  display: block;
  position: fixed;
  background-color: rgba(29, 17, 122, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 1;
}

.github {
  position: absolute;
  float: right;
}