.imgFlag {
  display: inline-block;
  margin-left: 8%;
  margin-right: 8%;
}

.titreh1 {
  color: white;
  font-family: "ibm";
  text-transform: uppercase;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
  text-align: center;
}

.titreh2 {
  text-align: center;
  color: white;
  font-family: "ibm";
  text-transform: uppercase;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1em;
}

.titreh3 {
  text-align: center;
  color: white;
  font-family: initial;
  text-transform: uppercase;
  margin-bottom: 0em;
  margin-top: 0em;
  font-size: 1.1em;
}


.linkedinT {
  display: none;
  border: 2px solid #ffffff;
  position: absolute;
  border-radius: 10px;
  height: 25px;
  width: 85px;
  margin: 5px;
  background-color: black;
}


.complemen {
  color: white;
  margin: 1%;
  border-radius: 10px;
  //display: none;
}

.competencesJeu {
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  padding-bottom: 175px;
  text-align: center;
}

.competen {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 1%;
  height: auto;
  //display: none;
}

.competencesT {
  border: 1px solid #ffffff;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 1%;
  text-align: center;
  font-size: 1.2em;
  height: 550px;
}

.informatiquesCont {
  width: 32%;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  margin-top: 0.1%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  margin-left: 1%;
  vertical-align: middle;
  display: inline-block;
  overflow: visible;
}

.informatiques {
  background-color: rgba(245, 247, 246, 0.2);
  text-align: center;
  border-radius: 10px;
  margin-top: 0.5%;
  margin-bottom: 0.1%;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
}

.informatiquesLast {
  background-color: rgba(245, 247, 246, 0.2);
  text-align: center;
  border-radius: 10px;
  margin-top: 0.5%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible;
}

.jobs {
  width: 99%;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  overflow: visible;
}

.info {
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

//expériences
.infojob {
  font-family: monospace;
  font-size: 1em;
  text-align: center;
}

.lieu {
  font-family: monospace;
  font-size: 0.8em;
}

.titreJob {
  margin-bottom: 0.3em;
  background-color: #000;
}

.infoJeu {
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.infoT {
  font-family: monospace;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1em;
  text-align: center;
  background-color: yellowgreen;
  color: yellowgreen;
  border-radius: 5px;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.infolast {
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.btp {
  width: 32%;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  vertical-align: middle;
  overflow: visible;
}

.commerciales {
  width: 32%;
  color: black;
  text-align: center;
  background-color: rgba(245, 247, 246, 0.2);
  border-radius: 10px;
  display: inline-block;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  vertical-align: middle;
  margin-left: 0.5%;
  margin-right: 1%;
  overflow: visible;
}
