@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

$myFont: monospace;

%videoSoleil {
  //display: none;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.jonglage {
  @extend %videoSoleil;
}

.me {
  font-family: 'ibm';
  color: white;
}