@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

$myFont: monospace;

%videoSoleil {
  //display: none;
  width: 99%;
  border-radius: 20px;
}

.jonglage {
  @extend %videoSoleil;
}

.me {
  font-family: 'ibm';
  color: white;
}