@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMLogo.ttf');
  font-weight: bold;
}

$colorBody: rgba(2, 106, 243, 0.99);
$myFont: 'ibm';

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 4rem auto 4rem;
  text-align: center;
}