@font-face {
  font-family: "ibm";
  src: url("/fonts/IBMLogo.ttf");
  font-weight: bold;
}

$myFont: "ibm";

.french {
  display: block;
}

.spanish {
  display: none;
}

.english {
  display: none;
}

#mesData {
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  width: 50%;
}

.titreh1 {
  color: white;
  font-family: "ibm";
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.3em;
}

.titreh2 {
  color: white;
  font-family: "ibm";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: 0.3em;
}

.titreh3 {
  color: white;
  text-align: center;
  font-family: "ibm";
  text-transform: uppercase;
  font-size: 0.8em;
}

#metier {
  -webkit-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 20%;
  margin-left: 40%;
}

.blink {
  text-align: center;
  background-color: rgb(164, 211, 159);
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  font-family: "ibm";
}

td:nth-child(even) {
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
}

#pointScore {
  text-align: right;
}

#highScore {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 1%;
  height: auto;
}

#scoreForm {
  margin: 0.5em;
}

#s0leil {
  margin-bottom: 2em;
  width: 98%;
  margin-left: 1%;
}